*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(220 80% 50%);
  --bg: hsl(0 0% 98%);
  --bg-secondary: hsl(0 0% 100%);
  --border: hsl(0 0% 98%);
  --text-black: hsl(0 0% 10%);
  --text-white: hsl(0 0% 100%);
  --text-muted: hsl(0 0% 50%);
  --sidebar-btn-hover: hsl(0 0% 90%);

  /* Sizes */
  --header-height: 3rem;
  --footer-height: 1.5rem;
  --sidebar-width: 14rem;

  /* Font sizes */
  --fs-1: 1.25rem; /* used only for site header (SEF R42 Summaries) */
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1rem;
  --fs-5: 0.875rem;
  --fs-6: 0.75rem;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* Border & Shadow */
  --border-radius: 0.5rem;
  --shadow-distance: 4px;
  --box-shadow: 0 0 var(--shadow-distance) rgba(0, 0, 0, 0.1);

  /* Responsiveness */
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.dark {
  --color-primary: hsl(220 80% 50%);
  --bg: hsl(0 0% 8%);
  --bg-secondary: hsl(0 0% 12%);
  --border: hsl(0 0% 16%);
  --text-black: hsl(0 0% 100%);
  --text-white: hsl(0 0% 10%);
  --box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  --sidebar-btn-hover: hsl(0 0% 20%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: var(--text-black);
  background-color: var(--bg);
  height: 100vh;
  height: 100dvh;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {
  font-size: var(--fs-5);
}

h6 {
  font-size: var(--fs-6);
}

p {
  font-size: var(--fs-4);
}

small {
  font-size: var(--fs-6);
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  accent-color: var(--color-primary);
  outline-offset: -2px;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
